@{
    ViewData["title"] = "User home";
}

<div class="container menu_margin">

    <!-- Breadcrumbs -->

    <div class="col">
        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
                <li><a href="/">User</a></li>
                <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
            </ul>
        </div>
    </div>

    <h1>User home</h1>
</div>
