@model IEnumerable<Shopping.Models.Product>

@{
    ViewData["Title"] = "Session cart";
}

<h1>Session cart</h1>

@foreach (var item in Model)
{
    <p>@item.Name - @item.Quantity - @((item.Quantity == 0 ? item.Price : item.GetTotalProducts()).ToString("c"))</p>
}